*{
    margin: 0px;
    padding: 0px;
}

img{
    height: 200px;
    width: 300px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#sec2div{
    padding: 20px;
    margin: 20px;
}

#section2{
        display: flex;
        align-items: center;
    justify-content: center;
}

#section1{
    padding: 20px;
    margin-top: 20px;
}